[submodule "scripts"]
	path = scripts
	url = https://github.com/binarymaker/project-manager-tools.git
	branch = library
[submodule "library/embclib"]
	path = library/embclib
	url = https://github.com/binarymaker/embclib
	branch = library
[submodule "library/avr-atmega-driver"]
	path = library/avr-atmega-driver
	url = https://github.com/binarymaker/avr-atmega-driver.git
	branch = library
